.modeMenu {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 2em;
    background-color: tan;
    text-align: center;
    list-style-type: none;
    font-size: x-large;
    color: black;
    display: flex;
    flex-direction: column;
}

.menuLink {
    background-color: inherit;
    border: 0;
}